<!DOCTYPE html>
<html>
  <head>
    <meta chrarset="utf-8">
    <link rel="stylesheet" href="main.css" media="screen" charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=user.username%></h1>
    <%user.posts.forEach(function(post){%>
      <h2><a href="/posts/<%=post._id%>"><%=post.title%></a></h2>
    <%})%>
  <a href="/">Back to posts index</a>
  </body>
</html>
