<!DOCTYPE html>
<html>
  <%- include partials/head.html.ejs %>
  <body>
    <h1>Enter your username and password</h1>
    <form action="users/login" method="post">
      <input type="text" name="username" value="" placeholder="Username">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Submit">
    </form>
    <%if(failure === 'username'){%>
      <p>
        USERNAME DOESN'T EXIST
      </p>
    <%} else if (failure === 'password'){%>
      <p>
        INCORRECT PASSWORD!
      </p>
    <%}%>
        <h1><a href="/users/signup">Signup</a></h1>
  </body>
</html>
